@model IEnumerable<SipServer.Models.SuperiorInfoEx>

@{
    ViewData["Title"] = "上级平台";
}

<h1>
    上级平台
</h1>

<p>
    @Html.ActionLink("新增", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                启用
            </th>
            <th>
                名称
            </th>
            <th>
                上级信息
            </th>
            <th>
                在线状态
            </th>
            <th>
                本地SIP国标编码
            </th>
            <th>
                本地SIP名称
            </th>
            <th>
                SIP认证用户名
            </th>
            <th>
                注册有效期
            </th>
            <th>
                注册间隔
            </th>
            <th>
                心跳周期
            </th>
            <th>
                最大心跳超时次数
            </th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.superiorInfo.Enable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.superiorInfo.Name)
                </td>
                <td>
                    @item.GetServerSipStr()
                </td>
                <td>
                    @{
                        string str;
                        if (!item.superiorInfo.Enable)
                            str = "未启用";
                        else if (item.Client != null && item.Client.IsRegistered)
                            str = "在线";
                        else
                            str = "不在线";
                    }
                    @str
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.superiorInfo.ClientId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.superiorInfo.ClientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.superiorInfo.Sipusername)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.superiorInfo.Expiry)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.superiorInfo.RegSec)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.superiorInfo.HeartSec)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.superiorInfo.HeartTimeoutTimes)
                </td>
                <td>
                    @Html.ActionLink("编辑", "Edit", new { id = item.superiorInfo.Id }) |
                    @Html.ActionLink("明细", "Details", new { id = item.superiorInfo.Id }) |
                    @Html.ActionLink("删除", "Delete", new { id = item.superiorInfo.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
