@model IEnumerable<GB28181.XML.Catalog.Item>

@{
    ViewData["Title"] = "通道";
    var rtvsServer = Program.sipServer.Settings.RTVSVideoServer;
    var rtvsPort = Program.sipServer.Settings.RTVSVideoPort;
    var rtvssim = this.Context.Request.Query["DeviceID"];
}
<style>
    .HoverItem {
        width: 20px;
        height: 20px;
        font-size: xx-large;
    }

        .HoverItem:hover {
            /*color: red;*/
            cursor: pointer;
            background-color: red;
        }
</style>
<h1>通道</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                设备/区域/系统编码
            </th>
            <th>
                设备/区域/系统名称
            </th>
            <th>
                设备厂商
            </th>
            <th>
                设备型号
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeviceID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Manufacturer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>

                        <button disabled type="button" class="btn btn-primary  btn-sm" data-toggle="modal" data-target="#rtvsPlayer" data-rtvssim="@rtvssim" data-rtvschannel="@item.DeviceID">
                            实时视频
                        </button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>







<!-- Modal -->
<div class="modal fade" id="rtvsPlayer" tabindex="-1" role="dialog" aria-labelledby="rtvsPlayerTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rtvsPlayerTitle">播放器</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="m-auto" id="player" style="width: 854px; height: 480px;">
                </div>
                <div class="m-auto" id="ptz">
                    <span>简易云台控制</span>

                    <table>
                        <tr>
                            <td></td>
                            <td><span>&nbsp;&nbsp;&nbsp;</span></td>
                            <td>@*<span class="HoverItem">&#8598;</span>*@</td>
                            <td> <span id="up" class="HoverItem">&#8593;</span></td>
                            <td>@*<span class="HoverItem">&#8599;</span>*@</td>
                            <td><span>&nbsp;&nbsp;&nbsp;</span></td>
                            <td></td>
                            <td><span>&nbsp;&nbsp;&nbsp;</span></td>
                            <td><label>垂直速度:<input id="tiltSpeed" type="number" min="0" max="255" value="128" /></label></td>
                        </tr>
                        <tr>
                            <td> <span id="zoomIn" class="HoverItem">+</span></td>
                            <td></td>
                            <td> <span id="left" class="HoverItem">&#8592;</span></td>
                            <td> <span>&nbsp;</span></td>
                            <td> <span id="right" class="HoverItem">&#8594;</span></td>
                            <td></td>
                            <td><span id="zoomOut" class="HoverItem">-</span></td>
                            <td></td>
                            <td><label>水平速度:<input id="panSpeed" type="number" min="0" max="255" value="128" /></label></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>@*<span class="HoverItem">&#8601;</span>*@</td>
                            <td> <span id="down" class="HoverItem">&#8595;</span></td>
                            <td>@*<span class="HoverItem">&#8600;</span>*@</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><label>变倍速度:<input id="zoomSpeed" type="number" min="0" max="15" value="7" /></label></td>
                        </tr>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="https://lib.cvtsp.com/video/CVNetVideoJs/1.3.0/CvNetVideo.js"></script>
    <script>
        var uc1;
        var nowChannel="@rtvssim";
        var ptzChannel = "";
        $(function () {
            uc1 = CvNetVideo.Init(document.querySelector("#player"), 1,
                {
                    callback: function () {
                        [].forEach.call(document.querySelectorAll("button"), function (btn) {
                            btn.disabled = false;
                        });
                        //uc1.Resize(854, 480);
                    },
                    selectedEvent: function (e) {
                        var selected = e;
                    },
                    clusterHost: "@rtvsServer",
                    clusterPort:@rtvsPort,
                    protocol: 2,
                    ////事件通知
                    //events: {
                    //    //截图事件
                    //    onCapture: onCapture,
                    //    //超时前警告通知
                    //    timeoutWarning: timeoutWarning,
                    //    //超时警告取消
                    //    timeoutCanceled: timeoutCanceled,
                    //    //超时通知
                    //    timeoutClose: timeoutClose,
                    //    onStop: onVideoStop,
                    //    onServerNotice: onServerNotice,
                    //    onEndByServer: onEndByServer,
                    //    onHlsPlay: onHlsPlay,
                    //    onChangeH265Player: onChangeH265Player
                    //}
                });
            var modal = $('#rtvsPlayer');

            modal.on('hide.bs.modal',
                function () {
                    uc1.Stop(0);
                }
            );
            modal.on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var sim = button.data('rtvssim');
                nowChannel = button.data('rtvschannel');
                uc1.StartRealTimeVideo(sim, nowChannel);
            })
            modal.on('shown.bs.modal', function (event) {
                uc1.Resize(854, 480);
            })

            var ptcdiv = document.querySelector('#ptz');

            //元素的鼠标落下事件
            ptcdiv.onmousedown = function (ev) {
                if (nowChannel) {
                    var tiltSpeed = document.querySelector("#tiltSpeed").value;
                    if (tiltSpeed > 255) {
                        tiltSpeed = 255;
                    }
                    var panSpeed = document.querySelector("#panSpeed").value;
                    if (panSpeed > 255) {
                        panSpeed = 255;
                    }
                    var zoomSpeed = document.querySelector("#zoomSpeed").value;
                    if (zoomSpeed > 15) {
                        zoomSpeed = 15;
                    }
                    //event的兼容性
                    var ev = ev || event;
                    if (ev.target.id == "left") {
                        ptzChannel = nowChannel;
                        PTZCtrl(ptzChannel, 0, null, null, null, null, panSpeed, null);
                    }
                    else if (ev.target.id == "right") {
                        ptzChannel = nowChannel;
                        PTZCtrl(ptzChannel, 0, null, null, null, null, null, panSpeed);
                    }
                    else if (ev.target.id == "up") {
                        ptzChannel = nowChannel;
                        PTZCtrl(ptzChannel, 0, null, null, tiltSpeed, null, null, null);
                    }
                    else if (ev.target.id == "down") {
                        ptzChannel = nowChannel;
                        PTZCtrl(ptzChannel, 0, null, null, null, tiltSpeed, null, null);
                    }
                    else if (ev.target.id == "zoomIn") {
                        ptzChannel = nowChannel;
                        PTZCtrl(ptzChannel, 0, zoomSpeed, null, null, null, null, null);
                    }
                    else if (ev.target.id == "zoomOut") {
                        ptzChannel = nowChannel;
                        PTZCtrl(ptzChannel, 0, null, zoomSpeed, null, null, null, null);
                    }
                }
            }
                //清除
            document.addEventListener("mouseup", function (ev) {
                if (ptzChannel.length > 0) {
                    //发送停止
                    PTZCtrl(ptzChannel, 0);
                    ptzChannel = "";
                }
            });
        });

        function PTZCtrl(Channel, Address, ZoomIn, ZoomOut, Up, Down, Left, Right) {
            var url = "/api/DeviceControl/PTZCtrl?DeviceID=@rtvssim&Channel=" + Channel + "&Address=" + Address;
            if (ZoomIn) {
                url += "&ZoomIn=" + ZoomIn;
            }
            if (ZoomOut) {
                url += "&ZoomOut=" + ZoomOut;
            }
            if (Up) {
                url += "&Up=" + Up;
            }
            if (Down) {
                url += "&Down=" + Down;
            }
            if (Left) {
                url += "&Left=" + Left;
            }
            if (Right) {
                url += "&Right=" + Right;
            }
            $.get(url, function (data) {

            });
        }

    </script>
}