@model IEnumerable<SipServer.Models.DeviceInfoEx>

@{
    ViewData["Title"] = "已注册设备列表";
}

<h1>已注册设备</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                设备ID
            </th>
            <th>
                目标设备/区域/系统的名称
            </th>
            <th>
                设备生产商
            </th>
            <th>
                设备型号
            </th>
            <th>
                设备固件版本
            </th>
            <th>
                视频输入通道数
            </th>
            <th>
                在线状态
            </th>
            <th>
                创建时间
            </th>
            <th>
                上线时间
            </th>
            <th>
                最后通信时间
            </th>
            <th>
                上次离线时间
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Device.DeviceID, "Channels", new { DeviceID = item.Device.DeviceID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Device.DeviceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Device.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Device.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Device.Firmware)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Device.Channel)
                </td>
                <td>
                    @(item.Status.Online?"在线":"离线")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.CreateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.OnlineTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.KeepAliveTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.OfflineTime)
                </td>
                <td>
                    @Html.ActionLink("删除", "Delete", new { DeviceID = item.Device.DeviceID })
                </td>
            </tr>
        }
    </tbody>
</table>
